# Codility SQL Training
## Elementary
Given a table elements with the following structure:

  create table elements (
      v integer not null
  );
write an SQL query that returns the sum of the numbers in column v.

For example, given:

  |v|
  |--|
  |2|
  |10|
  |20|
  |10|
  
your query should return 42.

In [ ]:
-- Implement your solution here
SELECT SUM(v) FROM elements;

## Easy
Given a table events with the following structure:

  create table events (
      event_type integer not null,
      value integer not null,
      time timestamp not null,
      unique(event_type, time)
  );
write an SQL query that, for each event_type that has been registered more than once, returns the difference between the latest (i.e. the most recent in terms of time) and the second latest value. The table should be ordered by event_type (in ascending order).

For example, given the following data:

   event_type | value      | time
  ------------+------------+--------------------
   2          | 5          | 2015-05-09 12:42:00
   4          | -42        | 2015-05-09 13:19:57
   2          | 2          | 2015-05-09 14:48:30
   2          | 7          | 2015-05-09 12:54:39
   3          | 16         | 2015-05-09 13:19:57
   3          | 20         | 2015-05-09 15:01:09
your query should return the following rowset:

   event_type | value
  ------------+-----------
   2          | -5
   3          | 4
For the event_type 2, the latest value is 2 and the second latest value is 7, so the difference between them is âˆ’5.

The names of the columns in the rowset don't matter, but their order does.

In [ ]:
select t1.event_type, t1.value - t1.prev_value as diff
  from (
     select t.event_type,
            t.value,
            lead(t.value) over (partition by t.event_type order by time desc) prev_value,
            row_number() over (partition by t.event_type order by time desc) rn
       from events t) as t1
where rn=1
  and prev_value is not null
  ORDER BY
  event_type;

## difficult

You are given two tables, teams and matches, with the following structures:

  create table teams (
      team_id integer not null,
      team_name varchar(30) not null,
      unique(team_id)
  );

  create table matches (
      match_id integer not null,
      host_team integer not null,
      guest_team integer not null,
      host_goals integer not null,
      guest_goals integer not null,
      unique(match_id)
  );
Each record in the table teams represents a single soccer team. Each record in the table matches represents a finished match between two teams. Teams (host_team, guest_team) are represented by their IDs in the teams table (team_id). No team plays a match against itself. You know the result of each match (that is, the number of goals scored by each team).

You would like to compute the total number of points each team has scored after all the matches described in the table. The scoring rules are as follows:

If a team wins a match (scores strictly more goals than the other team), it receives three points.
If a team draws a match (scores exactly the same number of goals as the opponent), it receives one point.
If a team loses a match (scores fewer goals than the opponent), it receives no points.
Write an SQL query that returns a ranking of all teams (team_id) described in the table teams. For each team you should provide its name and the number of points it received after all described matches (num_points). The table should be ordered by num_points (in decreasing order). In case of a tie, order the rows by team_id (in increasing order).

For example, for:

  teams:

   team_id | team_name
  ---------+---------------
   10      | Give
   20      | Never
   30      | You
   40      | Up
   50      | Gonna


  matches:

   match_id | host_team | guest_team | host_goals | guest_goals
  ----------+-----------+------------+------------+-------------
   1        | 30        | 20         | 1          | 0
   2        | 10        | 20         | 1          | 2
   3        | 20        | 50         | 2          | 2
   4        | 10        | 30         | 1          | 0
   5        | 30        | 50         | 0          | 1
your query should return:

   team_id | team_name | num_points
  ---------+-----------+------------
   20      | Never     | 4
   50      | Gonna     | 4
   10      | Give      | 3
   30      | You       | 3
   40      | Up        | 0

In [ ]:
SELECT * FROM matches;
SELECT * FROM teams;


SELECT team_id, host_goals
FROM teams
JOIN matches
ON team_id = host_team

In [37]:
def solution(S, T):
    
   #first I check the EQUAL
    if S == T:
       return "EQUAL"
    
   # remove last letter
    elif S[:-1] == T:
        return f"REMOVE {S[-1]}"

   #insert letter
    elif S == T[1:]:
        return f"INSERT {T[0]}"


   # SWAP cd
   # with the len of the word I can get the range 
    elif S != T:
        for i in range(len(S) -1): #With the range I can get the index
            if S[i] == T[i+1] and S[i+1] == T[i]:
                return f"SWAP {S[i]} {S[i+1]}"

   # imposible 
    else:
        return "IMPOSSIBLE"

    pass

In [41]:
S= "abcde"
T= "abced"

solution(S,T)

'SWAP d e'